*, *::before, *::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-family: sans-serif; }

table {
  width: 100%;
  border-collapse: collapse; }

th {
  background-color: #000;
  color: #FFF; }

th, td {
  padding: 10px;
  text-align: left;
  border: solid 1px #ccc; }
